<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565586811816-ud0o1rih885h2lud9tt1tmlbcp2da3a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565586811816-ud0o1rih885h2lud9tt1tmlbcp2da3a4</string>
	<key>API_KEY</key>
	<string>AIzaSyDTCt9Rk1sUOhCTyVj0I8sxMMpZAGHgjqI</string>
	<key>GCM_SENDER_ID</key>
	<string>565586811816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poemApp.AndreyFr</string>
	<key>PROJECT_ID</key>
	<string>poem-app7</string>
	<key>STORAGE_BUCKET</key>
	<string>poem-app7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565586811816:ios:945d90e0d4a55520081b9d</string>
	<key>DATABASE_URL</key>
	<string>https://poem-app7.firebaseio.com</string>
</dict>
</plist>